<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>HsngPsts</title>
</head>
<body>


    <h1> Housing Posts</h1>

    <ul>
        <li>
            <h2>Name of Housing Post</h3>
            <h3>NeighbordHood</h3>
            <h4>Duration of Housing</h4>
            <img src="" alt="">
            <p>information about the housing goes here!</p>

            <!-- ran on loop, so more can show up underneath -->

        </li>
    </ul>
    
</body>
</html>