<!DOCTYPE html>
<html>
  <head>
    <title>indexPage</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <h1>HOMEPAGE</h1>
      <a href="/submitHousingPost">submit housing</a> 
      <a href="/submitTopic">submit topic</a> 
      <a href="/profile">profile</a> 
      <a href="/housingPostFeed">housingFeed</a> 
      <a href="/topicFeed">topicFeed</a> 
      <a href="/logout" >Logout</a>
      <a href="/save" >savedPage</a>
      <a href="/login" >Login</a>
    </nav>
    <div class="container">
      <div class="index text-center">
        <h2>HomePage!</h2>
        <!-- background cycles through images of houses <img src="img/savage21.jpg" alt="21 Savage Profile Photo"> -->

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"
          ><span class="fa fa-user"></span>Login</a
        >
        <a href="/signup" class="btn btn-default"
          ><span class="fa fa-user"></span>Signup</a
        >
      </div>
    </div>
    
    <div class='container'>
      <h2>finding housing can be difficult</h2>
      <h3>here's a litle help</h3>
    </div>
  </body>
</html>
