<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indexPage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <h1>HOMEPAGE</h1>
      <a href="/submitHousingPost">submit housing</a>
      <a href="/submitTopic">submit topic</a>
      <a href="/profile">profile</a>
      <a href="/housingPostFeed">housingFeed</a>
      <a href="/topicFeed">topicFeed</a>
      <a href="/logout">Logout</a>
      <a href="/save">savedPage</a>
      <a href="/login">Login</a>
    </nav>
    <div class="container">
      <div class="index text-center">
        <h2>HomePage!</h2>
        <!-- background cycles through images of houses <img src="img/savage21.jpg" alt="21 Savage Profile Photo"> -->

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"
          ><span class="fa fa-user"></span>Login</a
        >
        <a href="/signup" class="btn btn-default"
          ><span class="fa fa-user"></span>Signup</a
        >
      </div>

      <div class="indexPageStyleBlocks leftBlock">
        <h2>finding housing can be difficult</h2>
      </div>
      <div class="indexPageStyleBlocks rightBlock">
        <h2>here's a community to find a home</h2>
      </div>
    </div>
  </body>
</html>
