<!DOCTYPE html>
<html lang="en">
<head>
    <title>HMPG</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
</head>
<body>

    <h1>Finding Homes, on the same page</h1>


    <div class='container'>

        <div class='chatTopicBox'>
            
            <section class='individualTopic'>

            </section>

            <button><a href="/messageBoardPosts">MssgBrdPsts</a></button>
            <button><a href="/messageBoardPosts">make a message topic</a></button>
        </div>

        <div class='postingsBox'>

            <section class='individualHousingPost'>

            </section>

            <button><a href="/housingPosts">HsngPsts</a></button>
            <button><a href="/housingPosts">make a housing post</a></button>
        </div>
    </div>
    
</body>
</html>