<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hmpgMap</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap) taken from other template-->
    <link href="styles.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />


    <style>
      #map{
        height: 500px;
        width: 500px;
      }
      h3{
          width: 500px;
          text-align: center;
      }
      #map, h3{
        margin: auto;
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-lg-5">
            <a class="navbar-brand" href="/">homepage</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/submitHousingPost">Submit Housing</a> </li>
                    <li class="nav-item"><a class="nav-link" href="/submitTopic">Submit Topic</a></li>
                    <li class="nav-item"><a class="nav-link" href="/housingPostFeed">Housing</a></li>
                    <li class="nav-item"><a class="nav-link" href="/topicFeed">Topic</a></li>
                    <li class="nav-item"><a class="nav-link" href="/save" >Saved</a></li>
                    <li class="nav-item"><a class="nav-link" href="/map" >Map</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile" >Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout" >Logout</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login" >Login</a></li>
                </ul>
                </ul>
            </div>
        </div>
    </nav>

    <div class="profileBlock text-center">
      <h1> Posts Map</h1>
  </div>
    
    <div id="map">
        
      <script>

        function initMap() {
          let options = {
            zoom: 14,
            center: { lat: 39.9526, lng: -75.1652 },
          };
          let map = new google.maps.Map(
            document.getElementById("map"),
            options
          );

          //text taken from troi hicks
          fetch("/locations", {
            method: "get",
            headers: { "Content-Type": "application/json" },
          })
            .then((response) => {
              console.log(response);
              if (response.ok) return response.json();
            })
            .then((data) => {
              console.log(data);
              const allPlaces = [...data.housingPosts, ...data.topic] 
              console.log( 'these are all places', allPlaces)
              for (let j = 0; j < allPlaces.length; j++) {

                let userAddress = allPlaces[j].fullAddress;
                console.log("this is userAddress", userAddress);
                let queryAddress = userAddress ? userAddress.split(" ").join("+") : allPlaces[j].zipcode
                let img = allPlaces[j].img;
                let title = allPlaces[j].title;
                let id = allPlaces[j]._id
                let userCoordinates;
                fetch(
                  `https://maps.googleapis.com/maps/api/geocode/json?address=${queryAddress}&key=AIzaSyACHO3kyJ5MrGqVxl-4stvK2NXQM6SJFyE`
                )
                  .then((res) => res.json())
                  .then(function (result) {
                    console.log("these are the results", result);
                    let locations = [];
                    let lat = result.results[0].geometry.location.lat;
                    let lng = result.results[0].geometry.location.lng;
                    let postData = [img, lat, lng, title, id];
                    locations.push(postData);
                    console.log("locations", locations);
                    var infowindow = new google.maps.InfoWindow();
                    var marker, i;
                    for (i = 0; i < locations.length; i++) {
                      marker = new google.maps.Marker({
                        position: new google.maps.LatLng(
                          locations[i][1],
                          locations[i][2]
                        ),
                        map: map,
                        icon: {
                          // add image url instead of binary
                          scaledSize: new window.google.maps.Size(50, 50),
                        },
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        draggable: false,
                        title: "photo pin",
                        content: "<h1>Photography Location</h1>",
                      });
                      google.maps.event.addListener(
                        marker,
                        "click",
                        (function (marker, i) {
                          return function () {
                            if (locations[i][0]){
                              infowindow.setContent(
                              
                            
                              `<a href="/housingPost?id=${locations[i][4]}"><img src="data:image/image/png;base64,${locations[i][0].toString(
                                "base64"
                              )}" class="card-img" alt="..." width="500" height="600" id="img">` + 
                              `<p>${locations[i][3]} (hp)</p></a>`
                            
                            );
                            }else{
                              infowindow.setContent(
                              
                              `<a href="/topicPost?id=${locations[i][4]}"><p>${locations[i][3]} (tp)</p></a>`
                            
                            );
                            }
                            
                            infowindow.open(map, marker);
                          };
                        })(marker, i)
                      );
                    }
                  });
              }
            });
        }

      </script>
    </div>

    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACHO3kyJ5MrGqVxl-4stvK2NXQM6SJFyE&libraries=places"
    ></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACHO3kyJ5MrGqVxl-4stvK2NXQM6SJFyE&channel=2&callback=initMap"
      async
      defer
    ></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
