<!DOCTYPE html>
<html>
  <head>
    <title>21 Savage Fan Site</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
          <div class="form-group">
            <label>UserName</label>
            <input type="text" class="form-control" name="userName" />
          </div>
          <div class="form-group">
            <label>firstName</label>
            <input type="text" class="form-control" name="firstName" />
          </div>
          <div class="form-group">
            <label>lastName</label>
            <input type="text" class="form-control" name="lastName" />
          </div>
          <!-- fpr the addres -->
          <div class="form-group">
            <label>address</label>
            <input type="text" class="form-control" name="address" />
          </div>
          <!-- for the city -->
          <div class="form-group">
            <label>city</label>
            <input type="text" class="form-control" name="city" />
          </div>
          <div class="form-group">
            <label for="neighborhood">Neighborhood</label>
          
            <select name="neighborhood" id="neighborhood" size="4">
              <option selected disabled>neighborhood</option>
              <!-- use this same block of code on the feeds and the sign in and topic page -->
          <% for(let i = 0; i < neighborhoods.length; i++) {%>
              <option value="<%= neighborhoods[i] %>"><%= neighborhoods[i] %></option>
          <% }%>  
          </select>
         
          </div>
          <!-- for zipcode -->
          <div class="form-group">
            <label>zipcode</label>
            <input type="text" class="form-control" name="zipcode" />
          </div>
          <!-- for state -->
          <div class="form-group">
            <label>state</label>
            <input type="text" class="form-control" name="state" />
          </div>
          <!-- birthday -->
          <div class="form-group">
            <label>birthday</label>
            <input type="date" class="form-control" name="birthDate" />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" />
          </div>

          <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>

        <hr />

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>

      </div>
    </div>
  </body>
</html>
