<!DOCTYPE html>
<html>
  <head>
    <title>submitTopic</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">

        <h6>Add a message</h6>
          <% if (user.local.email) { %>

            <p>
                <input type="hidden" id='<%= user._id %>'>
            </p>

          <form action="/topic" method="POST">
            <input type="text" value="<%= user.userName %>" name="name">
            <input type="text" placeholder="title" name="title">
            <!-- make this an options tag with a select drop down with locations -->
            <input type="text" placeholder="neighborhood" name="neighborhood">
            <input type="text" placeholder="message" name="msg">
            <input type="date" placeholder="date posted by" name="datePostedBy">
            <button type="submit">Submit</button>
          </form>

          <% } %>
    </div>
        
        
  </body>
</html>
