<!DOCTYPE html>
<html>
  <head>
    <title>submitTopic</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <h1>HOMEPAGE</h1>
      <button><a href="/submitHousingPost">submit housing</a></button>
      <button><a href="/submitTopic">submit topic</a></button>
      <button><a href="/profile">profile</a></button>
      <!-- <button><a href="/topicPost">go to invididual topic page</a></button>
      <button><a href="/housingPost">go to individual post page</a></button> -->
      <button><a href="/housingPostFeed">housingFeed</a></button>
      <button><a href="/topicFeed">topicFeed</a></button>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      <a href="/login" class="btn btn-default btn-sm">Login</a>
    </nav>
    <div class="container">

      <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> got a topic to discuss?</h1>

        <div class="well">
          <form action="/topicPost" method="POST">
            <div class="form-group">
              <label>UserName</label>
              <input type="text" class="form-control" name='userName' value="<%= user.userName%>" />
              <input type="hidden" value="<%= user._id %>" name="userId">
            </div>
            <div class="form-group">
              <label>zipcode</label>
              <input type="text" class="form-control" name="zipcode" />
            </div>
            <div class="form-group">
              <label>city</label>
              <input type="text" class="form-control" name="city" />
            </div>
            <div class="form-group">
              <label for="neighborhood">Neighborhood</label>
            
              <select name="neighborhood" id="neighborhood">
                <option selected disabled>neighborhood</option>
                <option value="Center City">Center City</option>
                <option value="South Philadelphia">South Philadelphia</option>
                <option value="Southwest Philadelphia">Southwest Philadelphia</option>
                <option value="Lower North Philadelphia">Lower North Philadelphia</option>
                <option value="West Philadelphia">West Philadelphia</option>
                <option value="Upper North Philadelphia">Upper North Philadelphia</option>
                <option value="Port Richmond">Port Richmond</option>
                <option value="Kensington">Kensington</option>
                <option value="Roxborough-Manayunk">Roxborough-Manayunk</option>
                <option value="Germantown-Chestnut Hill">Germantown-Chestnut Hill</option>
                <option value="Olney-Oak Lane">Olney-Oak Lane</option>
                <option value="Near Northeast Philadelphia">Near Northeast Philadelphia</option>
                <option value="Far Northeast Philadelphia">Far Northeast Philadelphia</option>
              </select>
            </div>
            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" name="title" />
            </div>
            <div class="form-group">
              <label>a little about your posting?</label>
              <input type="text" class="form-control" name="aboutPosting" />
            </div>
            <div class="form-group">
              <label>date Posted By</label>
              <input type="date" class="form-control" name="datePostedBy" />
            </div>
    
            <button type="submit" class="btn btn-warning btn-lg">send</button>
          </form>
        </div>


      
      
        <button><a href="/profile">profile</a></button>
        <button><a href="/submitTopic">submit a topic</a></button>

        <!-- <div class='well'>
          <button><a href="/submitHousingPost">housing post</a></button>
          <button><a href="/submitTopic">topic submission</a></button>
          <button><a href="/topicPost">go to invididual topic page</a></button>
          <button><a href="/housingPost">go to individual post page</a></button>
          <button><a href="/housingPostFeed">go to post feed</a></button>
          <button><a href="/topicFeed">go to topic feed</a></button>
      </div> -->
    </div>
  </body>
</html>
