<!DOCTYPE html>
<html>
  <head>
    <title>Submit Housing Post</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <nav>
      <h1>HOMEPAGE</h1>
      <button><a href="/submitHousingPost">submit housing</a></button>
      <button><a href="/submitTopic">submit topic</a></button>
      <button><a href="/profile">profile</a></button>
      <!-- <button><a href="/topicPost">go to invididual topic page</a></button>
      <button><a href="/housingPost">go to individual post page</a></button> -->
      <button><a href="/housingPostFeed">housingFeed</a></button>
      <button><a href="/topicFeed">topicFeed</a></button>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      <a href="/login" class="btn btn-default btn-sm">Login</a>
    </nav>

    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h2><span class="fa fa-sign-in"></span> got some housing for us?</h2>

        <%# if (user.local.email) { %>
       
        <%# } %>

        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>


        <!-- LOGIN FORM -->
        <form action="/submitHousingPost" enctype="multipart/form-data" method="post">
          <div class="form-group">
            <label>UserName</label>
            <input type="text" class="form-control" name='userName' value="<%= user.userName%>" />
            <input type="hidden" value="<%= user._id %>" name="userId">
          </div>
          <div class="form-group">
            <label>zipcode</label>
            <input type="text" class="form-control" name="zipcode" />
          </div>
          <div class="form-group">
            <label>city</label>
            <input type="text" class="form-control" name="city" />
          </div>
          <div class="form-group">
            <label for="neighborhood">Neighborhood</label>
          
            <select name="neighborhood" id="neighborhood">
              <option selected disabled>neighborhood</option>
              <!-- use this same block of code on the feeds and the sign in and topic page -->
          <% for(let i = 0; i < neighborhoods.length; i++) {%>
              <option value="<%= neighborhoods[i] %>"><%= neighborhoods[i] %></option>
          <% }%>  
          </select>
         
          </div>
          <div class="form-group">
            <label for="housingType">Choose a housingType:</label>

            <select name="housingType" id="housingType">
              <option value="longterm">longterm (1yr+)</option>
              <option value="short Term">short term (6mos-1yr)</option>
              <option value="temporary">temporary</option>
            </select>
          </div>
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" />
          </div>
          <div class="form-group">
            <label>a little about your posting?</label>
            <input type="text" class="form-control" name="aboutPosting" />
          </div>
          <div class="form-group">
            <label>pictures</label>
            <input type="file" name="file-to-upload" class="fileChose">
          </div>
          <div class="form-group">
            <label>date Posted By</label>
            <input type="date" class="form-control" name="datePostedBy" />
          </div>

          <button type="submit" class="btn btn-warning btn-lg">send</button>
        </form>
        
        <button><a href="/profile">profile</a></button>
        <button><a href="/submitTopic">submit a topic</a></button>
        <hr />

        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>
      </div>
    </div>

    <!-- <label for="neighborhood">Choose a Neighborhood:</label>
          <select id="neightborhood">
            <optgroup label="CenterCity">
              <option>Chinatown</option>
              <option>Ave of Arts</option>
              <option>Callowhill</option>
            </optgroup>
            <optgroup label="SouthPhilly">
              <option>Grays ferry</option>
              <option>Central south philly</option>
              <option>Italian market</option>
            </optgroup>
            <optgroup label="WestPhilly">
              <option>Belmont district</option>
              <option>Cedar park </option>
              <option>Cathedral park</option>
            </optgroup>
          </select>  -->


  </body>
</html>


<!-- Center City
South Philadelphia
Southwest Philadelphia
West Philadelphia
Lower North Philadelphia
Upper North Philadelphia
Bridesburg-Kensington-Port Richmond
Roxborough-Manayunk
Germantown-Chestnut Hill
Olney-Oak Lane
Near Northeast Philadelphia
Far Northeast Philadelphia -->
<!-- 
<div class="form-group">
  <label for="neighborhood">Choose a housingType:</label>

  <select name="neighborhood" id="neighborhood">
    <option value="Center City">Center City</option>
    <option value="South Philadelphia">South Philadelphia</option>
    <option value="Southwest Philadelphia">Southwest Philadelphia</option>
    <option value="Lower North Philadelphia">Lower North Philadelphia</option>
    <option value="West Philadelphia">West Philadelphia</option>
    <option value="Upper North Philadelphia">Upper North Philadelphia</option>
    <option value="Bridesburg-Kensington-Port Richmond">Bridesburg-Kensington-Port Richmond</option>
    <option value="Roxborough-Manayunk">Roxborough-Manayunk</option>
    <option value="Germantown-Chestnut Hill">Germantown-Chestnut Hill</option>
    <option value="Olney-Oak Lane">Olney-Oak Lane</option>
    <option value="Near Northeast Philadelphia">Near Northeast Philadelphia</option>
    <option value="Far Northeast Philadelphia">Far Northeast Philadelphia</option>
  </select>
</div> -->