<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>MssgBrd</title>
</head>
<body>
    
</body>

<h1>message board posts</h1>
    <ul>
        <li>
            <h2>name of topic</h2>
            <h3> short intro on topic</h3>
            <h4>User posting it</h4>
        </li>
    </ul>
</html>